* {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #ebe4d9, #b4a595);
    overflow: hidden;
}

.nav {
    display: flex;
    align-items: center;

    height: 7.5rem;

    background-color: #2b2b2b;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav li {
    align-items: center;
}

.nav a {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #f1511b;
    padding: 0.5rem 4rem;
    text-decoration: none;
    opacity: 0;

    display: inline-block;
    transform: scale(1);
}

.nav.expanded {
    transform: scaleX(1);

    transition: 
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}

.nav.expanded a {
    opacity: 0.3;
}

.nav.expanded a:hover {
    opacity: 1;
    transform: scale(1.1);
}

.nav.expanded .selected {
    opacity: 1;
    transform: scale(1.1);
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }

    50.01%, 100% {
        opacity: 0;
    }
}

.content {
    padding-left: 30%;
}

.content .name {
    padding: 1rem;
    font-family: "Space Mono", monospace;
    font-size: 2rem;
    font-weight: 700;
    color: #f1511b;
}

.content .cursor {
    display: inline-block;
    width: 0.1rem;
    background-color: #f1511b;
    padding-right: 1rem;
    animation: blink 1s step-start infinite;
}

.content .info {
    width: 40rem;
}

.content .info p {
    display: flex;
    padding-left: 1rem;
    font-family: "Space Mono", monospace;
    color: #2b2b2b;
}

.content img {
    padding: 1rem;
    border-radius: 50rem;
}

@media (max-width: 768px) {
    .nav ul {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .nav li {
        white-space: nowrap;
    }

    .nav.expanded a {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .content {
        padding-left: 0;
    }

    .content .name {
        font-size: 1rem;
    }

    .content .cursor {
        padding-right: 0.5rem;
    }

    .content .info {
        width: 20rem;
    }

    .content .info p {
        font-size: 0.7rem;
    }

    .content img {
        width: 15rem;
    }
}