body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #ebe4d9, #b4a595);
    overflow: hidden;
}

.nav {
    display: flex;
    align-items: center;

    height: 7.5rem;

    background-color: #2b2b2b;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

.nav li {
    align-items: center;
    width: 15rem;
    padding-right: 7.5rem;
}

.nav a {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #f1511b;
    padding-left: 2rem;
    text-decoration: none;
    opacity: 0;

    display: inline-block;
    transform: scale(1);
}

.nav.expanded {
    transform: scaleX(1);

    transition: 
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}

.nav.expanded a {
    opacity: 0.3;
}

.nav.expanded a:hover {
    opacity: 1;
    transform: scale(1.1);
}

.nav.expanded .selected {
    opacity: 1;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .nav.expanded a {
        font-size: 1rem;
        padding-right: 6rem;
    }
}